{% extends 'base.html' %}
{% block title %}Mis Reportes{% endblock %}

{% block content %}
<div class="border border-gray-300 rounded-lg p-4 bg-gray-100 flex-1 m-8">
  <h1 class="text-center text-red-500 font-semibold mb-8">Mis Reportes</h1>

  <table class="w-full bg-white rounded">
    <thead class="bg-gray-300">
      <tr>
        <th class="p-2 text-sm">Ticket</th>
        <th class="p-2 text-sm">Asunto</th>
        <th class="p-2 text-sm">Categoría</th>
        <th class="p-2 text-sm">Estado</th>
        <th class="p-2 text-sm">Prioridad</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
      <tr class="border-t">
        <td class="p-2 text-sm">{{ ticket.id }}</td>
        <td class="p-2 text-sm">{{ ticket.asunto }}</td>
        <td class="p-2 text-sm">{{ ticket.categoria }}</td>
        <td class="p-2 text-sm">{{ ticket.estado }}</td>
        <td class="p-2 text-sm">{{ ticket.prioridad }}</td>
      </tr>
      {% empty %}
      <tr class="bg-white">
        <td class="p-3 rounded-l-full">&nbsp;</td>
        <td class="p-3">&nbsp;</td>
        <td class="p-3">&nbsp;</td>
        <td class="p-3">&nbsp;</td>
        <td class="p-3 rounded-r-full">&nbsp;</td>
      </tr>
      <tr class="bg-white">
        <td class="p-3 rounded-l-full">&nbsp;</td>
        <td class="p-3">&nbsp;</td>
        <td class="p-3">&nbsp;</td>
        <td class="p-3">&nbsp;</td>
        <td class="p-3 rounded-r-full">&nbsp;</td>
      </tr>
      <!-- Filtros de prioridad -->

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
