{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi Sistema de Tickets{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body class="bg-white">

<header class="relative border border-gray-300 overflow-hidden h-20">

  <img src="{% static 'img/banner2.png' %}" alt="" class="absolute inset-0 w-full h-full object-cover -z-10">
  <div class="flex items-center h-20 px-6 gap-4">

    <img src="{% static 'img/logo.png' %}" alt="Logo" class="h-16 w-auto">

    <div class="flex flex-col justify-center">
      <h1 class="text-lg font-semibold text-red-600 leading-tight">Help Desk ITSC</h1>
      <span class="text-xs text-gray-500 leading-tight">
        {{ user.get_full_name|default:user.correo }}
      </span>
    </div>

    <ul class="flex items-center ml-auto gap-4">
      <li>
  {% if user.rol != 'administrador' %}
  <a href="{% url 'notificaciones' %}" class="relative text-gray-700 hover:text-red-600">
    <img src="{% static 'img/notificacion.png' %}" alt="Notificaciones" class="h-6 w-auto">
    {% if notificaciones_no_leidas > 0 %}
      <span class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full w-4 h-4 flex items-center justify-center">
        {{ notificaciones_no_leidas }}
      </span>
    {% endif %}
  </a>
  {% endif %}
</li>

      <li><!--boton para visualizar el perfil del usuario-->
        <a href="{% url 'perfil' %}" class="text-gray-700 hover:text-red-600">
          <img src="{% static 'img/usuario2.png' %}" alt="Perfil" class="h-6 w-auto">
        </a>
      </li>
    </ul>

  </div>
</header>

  <div class="flex">

    <!-- NAV: el menú, igual para todas las páginas de usuario -->
  <nav class="bg-gray-100 border border-gray-300 w-48 h-screen shrink-0">
     <ul class="p-4 space-y-8">
       {% if user.rol == 'administrador' or user.rol == 'tecnico' %}
    <li>
      <a href="{% url 'dashboard' %}" class="flex flex-col items-center text-gray-700 hover:text-red-600">
          <img src="{% static 'img/grafico-de-barras.png' %}" alt="Logo" class="h-10 w-auto">
        <i class="fa-solid fa-chart-line text-2xl"></i>
        <span class="text-sm">
          {% if user.rol == 'tecnico' %}Dashboard{% else %}Dashboard{% endif %}
        </span>
      </a>
    </li>
    {% endif %}

    <li>
      <a href="{% url 'crear_ticket' %}" class="flex flex-col items-center text-gray-700 hover:text-red-600">
        <img src="{% static 'img/crear.png' %}" alt="Logo" class="h-10 w-auto">
        <span class="text-sm">Crear nuevo ticket</span>
      </a>
    </li>

    <li>
  <a href="{% url 'lista_tickets' %}" class="flex flex-col items-center text-gray-700 hover:text-red-600">
    <img src="{% static 'img/historiar.png' %}" alt="Logo" class="h-10 w-auto">
    <span class="text-sm">
      {% if user.rol == 'administrador' %}Tickets
      {% elif user.rol == 'tecnico' %}Mis asignaciones
      {% else %}Mis tickets{% endif %}
    </span>
  </a>
</li>

    {% if user.rol == 'administrador' %}
    <li>
      <a href="{% url 'admin_notificaciones' %}" class="flex flex-col items-center text-gray-700 hover:text-red-600">
        <i class="fa-solid fa-envelope-open-text text-2xl"></i>
        <span class="text-sm">Notificaciones</span>
      </a>
    </li>
    {% endif %}

    {% if user.rol == 'administrador' %}
    <li>
      <a href="{% url 'admin_categorias' %}" class="flex flex-col items-center text-gray-700 hover:text-red-600">
        <img src="{% static 'img/categoria-removebg.png' %}" alt="Logo" class="h-10 w-auto">
        <i class="fa-solid fa-tags text-2xl"></i>
        <span class="text-sm">Categorías</span>
      </a>
    </li>
    {% endif %}

    {% if user.rol == 'administrador' %}
    <li>
      <a href="{% url 'admin_usuarios' %}" class="flex flex-col items-center text-gray-700 hover:text-red-600">
        <img src="{% static 'img/agregar-usuario.png' %}" alt="Logo" class="h-10 w-auto">
        <i class="fa-solid fa-users text-2xl"></i>
        <span class="text-sm">Usuarios</span>
      </a>
    </li>
    {% endif %}

  

  </ul>

 <form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit"
    class="flex flex-col items-center text-gray-700 hover:text-red-600 p-2 rounded hover:bg-red-50 transition w-full"
    title="Cerrar sesión">
    <img src="{% static 'img/cerrar-sesion.png' %}" alt="Cerrar sesión" class="h-10 w-auto">
    <span class="text-sm">Cerrar sesión</span>
  </button>
</form>
</nav>


    <!-- AQUÍ es el "hueco" donde cada página mete SU contenido -->
    <main class="flex-1 p-6 bg-cover bg-center bg-no-repeat"style="background-image: url('{% static 'img/itsc2.png' %}');">
      {% block content %}
      {% endblock %}
    </main>

  </div>
  <footer class="border border-gray-300 bg-red-600 py-3 px-6">
     <p class="text-center text-xs text-white">
    © {% now "Y" %} <span class="font-medium">Help Desk ITSC</span> — Instituto Técnico Superior Comunitario. Todos los derechos reservados.
  </p>
  </footer>
   
</body>
</html>